@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Black.woff2') format('woff2'),
        url('Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everygirl';
    src: url('EverygirlRegular-Regular.woff2') format('woff2'),
        url('EverygirlRegular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clarendon';
    src: url('Clarendon-Bold.woff2') format('woff2'),
        url('Clarendon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clarendon';
    src: url('Clarendon-Light.woff2') format('woff2'),
        url('Clarendon-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Medium.woff2') format('woff2'),
        url('Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everygirl Script';
    src: url('EverygirlScript-Regular.woff2') format('woff2'),
        url('EverygirlScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Heavy.woff2') format('woff2'),
        url('Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clarendon';
    src: url('Clarendon.woff2') format('woff2'),
        url('Clarendon.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

