@media (max-width: 1120.98px) {
  .heroContent_logo {
    margin-top: 30px;
  }
}
@media (max-width: 991.98px) {
  section.hero_area .container,
  section.oportun .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .coachCard {
    flex-direction: column-reverse;
    row-gap: 40px;
    justify-content: center;
  }
  .opotunVolenteers {
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
  }
  .opotunVolenteers.opvJor {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
  .menu__mobile {
    display: block;
  }

  .mainNav__content {
    flex-direction: row-reverse;
  }
  .menu__mobile a {
    color: #fff;
    font-size: 33px;
    line-height: 0;
    margin-right: -10px;
  }
  .mainNav {
    position: relative;
  }
  .navMenu {
    position: absolute;
    padding-top: 20px;
    top: 130px;
    left: 0;
    right: 0;
    transform: translateX(-2000px);
    transition: 0.3s ease-in-out;
    visibility: hidden;
    height: 200px;
    width: 100%;
    background: var(--primary-color);
    z-index: -1;
  }
  .navMenu ul li a {
    color: #fff;
    display: block;
    padding: 10px 20px;
  }
  .navMenu ul {
    flex-direction: column;
  }
  .navMenu.active {
    transform: translateX(0px);
    visibility: visible;
    z-index: 9999;
  }
}

@media (max-width: 680px) {
  .header_top {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .volunterrBtn,
  .coachBtns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .footerContact {
    flex-direction: column;
    row-gap: 30px;
  }
  .volenteersImg {
    text-align: center;
  }
  .coachCard {
    text-align: center;
  }
  .coachPragrap {
    max-width: 100%;
  }
  .volunterrBtn {
    text-align: center;
  }
  .footerMenu ul {
    flex-direction: column;
    row-gap: 20px;
  }
  .footerMenu ul li a::after {
    display: none;
  }
  .footer_copywrite p span {
    display: none;
  }
  .dblBtn_shape {
    text-align: center;
  }
  .coachTitle,
  .volunteerTitle {
    font-size: 32px;
  }
}
@media (max-width: 475px) {
  .footer_copywrite p a {
    display: block;
    padding-top: 10px;
  }
  .footerSocail ul {
    column-gap: 20px;
  }
  .coachTitle,
  .volunteerTitle {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .btnDonet,
  .btnRegister {
    padding: 8px 10px;
  }
}
